---
import Layout from "../layouts/Layout.astro";
import GameCard from "../components/GameCard.astro";
import { getLatestPosts, getPageInfo } from "../lib/wp.ts";
import Menu from "../components/Menu.astro";

const { title, content } = await getPageInfo("pagina-de-inicio");
const posts = await getLatestPosts({perPage: 3});
---

<Layout>
	<Menu />
	<div class="max-w-screen-xl mx-auto p-4 flex flex-col gap-5">
		<section>
			<div>
				<h1>{title}</h1>
				<p set:html={content} />
			</div>
		</section>
	
		<section>
			<h2>Ultimos articulos</h2>
			<div  class="grid grid-cols-3 gap-4" >
				{posts.map((post: any) => <GameCard {...post} />)}
			</div>
		</section>

	</div>
</Layout>
